[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
crispy-bootstrap5 = "*"
django-configurations = "*"
dj-database-url = "*"
django-debug-toolbar = "*"
django-registration = "*"
django-allauth = "*"

[dev-packages]

[requires]
python_version = "3.9"
